.main {
    background: url('../../../assets/images/planet-alex.jpg') center top no-repeat;
    background-size: cover;
    min-height: 100vh;
    padding: 40px 0;

    &Wrapper {
        position: relative;
        padding-top: 60px;
    }
}

.character {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-bottom: 30px;
    @media (max-width: 768px) {
        flex-direction: column;
    }

    &Video {
        width: 100%;
        height: auto;
    }

    &Wrapper {
        background-color: rgba(0,0,0,0.5);
        color: #fff;
        padding: 25px;
    }

    &Name {
        font-size: 40px;
        text-transform: uppercase;
        margin: 0;
    }

    &Occupetion {
        font-size: 24px;
        margin-bottom: 0;
    }

    &RealName {
        font-size: 14px;
    }

    &Appearance {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    &AppearanceItem {
        width: 50%;
    }

    &DataProp {
        color: #cecece;
        text-transform: uppercase;
        margin: 18px 0 4px 0;
    }

    &DataValue {
        color: #fff;
        margin: 0;
    }

    &Link {
        display: inline-block;
        color: #fff;
        margin-right: 20px;
    }

    &MainText {
        background-color: rgba(0,0,0,0.5);
        color: #fff;
        padding: 25px;
    }

    &Text {
        font-weight: 300;
        font-size: 16px;
        line-height: 22px;
        text-indent: 50px;
    }
}

@-webkit-keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
  
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
  
@keyframes slideInLeft {
    from {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
  
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
  
.slideInLeft {
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
}
  
@-webkit-keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
  
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
  
@keyframes slideInRight {
    from {
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
        visibility: visible;
    }
  
    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}
  
.slideInRight {
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.flicker {
    background-image: radial-gradient(ellipse 50% 35% at 50% 50%, #182d6b, transparent);
    animation: flicker 3s infinite;
    text-shadow: 0 0 0.6rem #e6ebff, 0 0 1.5rem #6584ff, 
        -0.2rem 0.1rem 1rem #65a1ff, 0.2rem 0.1rem 1rem #658bff, 
        0 -0.5rem 2rem #247aff, 0 0.5rem 3rem #2465ff;
}
  
@keyframes flicker {
    from {
        opacity: 1;
    }
  
    4% {
        opacity: 0.9;
    }
  
    6% {
        opacity: 0.85;
    }
  
    8% {
        opacity: 0.95;
    }
  
    10% {
        opacity: 0.9;
    }
  
    11% {
        opacity: 0.922;
    }
  
    12% {
        opacity: 0.9;
    }
  
    14% {
        acity: 0.95;
    }
  
    16% {
        opacity: 0.98;
    }
  
    17% {
        opacity: 0.9;
    }
  
    19% {
        opacity: 0.93;
    }
  
    20% {
        opacity: 0.99;
    }
  
    24% {
        opacity: 1;
    }
  
    26% {
        opacity: 0.94;
    }
  
    28% {
        opacity: 0.98;
    }
  
    37% {
        opacity: 0.93;
    }
  
    38% {
        opacity: 0.5;
    }
  
    39% {
        opacity: 0.96;
    }
  
    42% {
        opacity: 1;
    }
  
    44% {
        opacity: 0.97;
    }
  
    46% {
        opacity: 0.94;
    }
  
    56% {
        opacity: 0.9;
    }
  
    58% {
        opacity: 0.9;
    }
  
    60% {
        opacity: 0.99;
    }
  
    68% {
        opacity: 1;
    }
  
    70% {
        opacity: 0.9;
    }
  
    72% {
        opacity: 0.95;
    }
  
    93% {
        opacity: 0.93;
    }
  
    95% {
        opacity: 0.95;
    }
  
    97% {
        opacity: 0.93;
    }
  
    to {
        opacity: 1;
    }
}  