
//fonts sizes

$main-font: 14px;
$small-font: 13px;
$middle-font: 16px;
$large-font: 18px;
$title-font: 36px;
$subtitle-font: 22px;

//colors

$white: #fff;
$black: #000;
$dark-font: #1D2C3C;
$light-font: #B5B5B5;
$grey-background: #EAEEF2;
$dark-background: #1B1C1D;
