$bgHeader: #171963;
$colorHeader: #dfdfe8;

@mixin bgTitle {
    background: #0575E6;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #021B79, #0575E6);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #021B79, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

@keyframes animatebackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: -1000px 0;}
}

@keyframes show {
	0% {
	opacity: 0;
	transform: scale(0.8);
	}
	100% {
	opacity: 1;
	transform: scale(1.0);
	}
}

@keyframes slider {
	from, to, 40% {
		background-image:url(./images/medinfo-1.jpg);
		background-repeat: no-repeat;
        background-size: 100% 100%;
	}
	50%, 90% {
		background-image:url(./images/medinfo-2.jpg);
		background-repeat: no-repeat;
        background-size: 100% 100%;
	}
}

.container {
    display: flex;
    justify-content: space-between;
}

.containerAccordian {
    margin: 5% 0 0 5%;
    width: 40%;
}

.containerGallery {
    margin: 5% 5% 5% 5%;
    width: 40%;
}

.accordian {
    max-width: 100%;
    display: block;
    margin: 5% 0 5% 0;
    

        &__card {
            box-shadow: 0px 0px 20px;
            width: 100%;
        }
}

.accordian__header {
    max-width: 100%;
    padding: 2%;
    background-color: black;
    border-radius: .1em;
    opacity: .8;

        &.blue {
            @include bgTitle;
            cursor: pointer;
        }

        &.black {
            background-color: black;
        }

        &_title {
            margin: 0;
            color: $colorHeader;
            text-align: center;
        }
}

.accordian__body {
    max-width: 100%;
    padding: 5%;
    display: block;
    animation: show 2s ease;
    background: #8e9eab;
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab);
    background: linear-gradient(to right, #eef2f3, #8e9eab);
    border-radius: .1em;
    opacity: .8;
    

     &_p {
         font-size: 1rem;
         font-weight: 700;
         line-height: 1.5rem;
         color: black;
         margin: 1%;
     }
}

.accordian__headerImage {
    border-radius: .5em;
    opacity: .5;
}

.accordian__bodyImage {
    border-radius: .5em;
    background: black;
    animation: slider 10s infinite cubic-bezier(.76,-0.54,.27,.76);
    opacity: .7;
	width: 100%;
    height: 50vh;
}




@media (max-width: 1024px) {

    .accordian__header {
        padding: 2%;
    }
    
    .accordian__body {
        padding: 3%;
    
         &_p {
             font-size: .9rem;
             line-height: 1.3rem;
             color: black;
             margin: .8%;
         }
    }
    
    .accordian__bodyImage {
        padding: 0;
    }
    
    .accordian__bodyImage_img {
        max-width: 40%;
        height: auto;
    }
}

@media (max-width: 480px) {
    .accordian__header {
        padding: 2%;
    
            &_title {
                font-size: .8em;
                text-align: center;
            }
    }
    
    .accordian__body {
        padding: 2%;
    
         &_p {
             font-size: .6rem;
             line-height: 1.1rem;
             color: black;
             margin: .8%;
         }
    }
    
    .accordian__bodyImage {
        padding: 0;
    }
    
    .accordian__bodyImage_img {
        max-width: 40%;
    }
}